* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.2px;
  color: rgb(48, 48, 48);
  text-overflow: clip;
  overflow: auto;
  /* font-weight: 300; */
}

.big-image {
  height: 650px;
  position: relative;
  background-position: top center;
  background-image: url("https://cdn.discordapp.com/attachments/891933566571798548/958033873420296242/Bella-Nails-and-Spa-Nail-salon-in-Flemington-NJ-08822-No-5.png");
}

@media only screen and (max-width: 650px) {
  .big-image {
    height: 550px;
  }
}
