.big-image {
  height: 550px;
  background-position: center;
  background-image: url("https://cdn.discordapp.com/attachments/891933566571798548/958033873420296242/Bella-Nails-and-Spa-Nail-salon-in-Flemington-NJ-08822-No-5.png");
}
