.main {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  padding: 0 10px;
  align-items:  flex-start;
}

.inner {
  width: 100%;
  flex-grow: 1;
}
.main .break {
  width: 20px;
}

.name {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

.name .break {
  width: 20px;
}

.main button {
  height: 45px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
}
.heading {
  font-size: 20px;
  font-weight: 400;
  color: #151515;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5px;
  font-weight: bold;
  padding-left: 5px;
}

@media only screen and (max-width: 450px) {
  .heading {
    font-size: 15px;
  }
  .name {
    flex-direction: column;
  }
}
@media only screen and (max-width: 950px) {
  .heading {
    font-size: 17px;
  }
  .main {
    flex-direction: column;
  }
}
