:root {
  --theme-color: #ffd8cb;
  --desc-color: #757575;
  /* --desc-color2: #757575; */
}

* {
  /* user-select: none; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
}

html {
  width: 100%;
  height: 1vh;
  font-size: 1.2em;
  background-color: white;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
